<div class="container">
    <form [formGroup]="userform">
        <div class="one">
            <mat-form-field style="width: 100%;">
                <mat-label>Enter your name</mat-label>
                <input matInput placeholder="Ex. Vikash" formControlName="name" />
            </mat-form-field>
        </div>
        <div class="four">
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" (blur)="updateErrorMessage()" />
                    <mat-error *ngIf="email?.invalid" style="color: red;">{{ errorMessage() }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="three">
            <mat-form-field>
                <mat-label>User Role</mat-label>
                <mat-select formControlName="userrole">
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="user">User</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>